.screen.screen_react {
  background: #fff;
  background-image: none;
  border:1px solid #000;
  color:#000;
  box-sizing: border-box;
  font-size: 16px;
  padding: 20px;
  line-height: 24px;
}

.popup_test {
  background: $blue;
  @include userselect(none);
  .loader {position: absolute; top:0; left:0;width: 100%;height: 100%; display:none;}
}



.question_container {
  width: 1022px;
  height: 560px;
  margin: 0px auto;
  position: relative;
  .question {
    padding-top:45px; 
    position: absolute;  
    height: 515px;
    left:0;
    background: $blue;
    width: 100%
  }
  .question_timer {font:26px/27px $extrabold; color:$yellow; @include g-sprite('timer-waves'); text-align: center; margin:0px auto 70px;}
  .question-question {font:26px/36px $bold;width: 840px; margin: 0px auto 45px; text-align: center;} 
  .question-options {}
  .question-option {
    font:18px/34px $regular;cursor: pointer; color:$gray;
    &:hover {color:#fff;}
    span {display: inline-block; line-height: 24px;}
  }
  .question .next { 
    @include g-sprite('next'); cursor: pointer;
    position: absolute; bottom:77px; right:0;
    &:hover {@include g-sprite('next-hover');}
  }
}


.question-type-simple {
  .questions-options-row {display: table-row; }
  .questions-options-cell {display: table-cell;padding-top: 55px;}
  .question-question {} 
  .question-options {
    text-align:left; display: table;
    width: 840px;
    position: relative;
    left: 150px;
  }  
  .question-option {
    padding:0 15px;
    border:1px solid transparent;
    display: inline-block;
    &:hover {border:1px solid #fff;}
  }
  &.choosed .question-option.active {color:#fff; border:1px solid #fff;}
}

.question-type-simple_image {
  .question-image {float:left; width:50%;     padding-left: 10%;}
  .question-options {float:left; width:40%;}
  .questions-options-row {margin-bottom: 25px;}
  .question-option {
    padding:0 15px; 
    border:1px solid transparent;
    display: inline-block;
    &:hover {border:1px solid #fff;}
  }
  &.choosed .question-option.active {color:#fff; border:1px solid #fff;}
}

.question-type-images {
  // .question-options {text-align:center;}
  .question-option {display: inline-block; width:250px; text-align: center;}
  .question-option-picture {
    width: 155px; height: 155px; border-radius:50%;
    border:1px solid #fff; margin: 0px auto 30px;
  } 
  .question-option-text {display: inline-block; vertical-align: top; padding: 0 15px; border:1px solid transparent;}
  .question-option:hover .question-option-text {border:1px solid #fff;}
  &.choosed .question-option-picture {opacity:0.4;}
  &.choosed .question-option.active .question-option-picture {opacity:1;}
  &.choosed .question-option.active .question-option-text {color:#fff; border:1px solid #fff;}
}


.question-type-order {
  .question-option {
    list-style-type: none; margin: 10px; padding: 0;
    width: 110px; height: 110px; 
    // display: block; float:left;
    display: inline-block;
    background: inline-image('base64/order-item.png') 50% 50% no-repeat;
    vertical-align: top;
  }
  .question-options-container {text-align: center; vertical-align: top;}
  .question-option-text {
    color: #fff;
    line-height: 20px; 
    height: 112px;
    vertical-align: middle;
    display: table-cell;
    width: 110px;
  }
  .question-option-n {
    color: #fff; line-height: 16px; display:none;
  }
  .order-icon {@include g-sprite('order-icon'); margin: 40px auto;}
  .question-options-numbers {
    position: relative;
    top: -117px;
    width: 520px;
    margin: 0px auto;
    height: 0;
    pointer-events: none;
    .question-options-number {
      width: 130px;
      float: left;
      color: #fff;
      text-align: center;
      font-size: 16px;
    }
  }
  .next {content:'ГОТОВО'; padding-left:50px;}
}

.question-type-bonus {

  .icon-position {height:51px; margin: 65px 0 50px; text-align: center;}
  .play-icon, .sound-icon-position {display: inline-block;}
  .play-icon {@include g-sprite('play-icon'); cursor: pointer; }
  .sound-icon-position {
    @include g-sprite('sound-icon');
    position: relative; 
    .sound-icon-yellow {
      @include g-sprite('sound-icon-yellow');
      position: absolute; top:0;
    }
  }
  .progressbar {
    width:345px; height:2px;background:#848d8f; margin:0px auto;
    .progress {width:0; height:2px; background:#fff;}
  }
  .score {
    width:100%; text-align: center;
    font:40px/60px $bold; color:$yellow;
  }
}

.result {
  text-align: center;
  padding-top: 50px;
  p {font:18px/24px $regular;}
  .score {font:40px/50px $bold;}
  .pic {margin:40px auto;}
}
