@import "active_admin/mixins";
@import "active_admin/base";
@import "_/mixins";
@import "_/vars";

label.control-label {
  padding-right: 10px;
}

.option-picture {display: none;     padding: 5px 0 0;}
.option-picture .hint {padding: 5px 0 0;}
.option-picture .hint img {width:50px; height:50px; border-radius:50%;}


.form-part {
  margin-bottom: 20px;
  border:1px solid #eee;
  border-radius:5px;
  padding:10px;
}

#question_option1, #question_option2, #question_option3, #question_option4 {width:50%;}
#question_correct {width:100px;}

.popup_test {
  width:100%; height:$height; background: $blue;
  font: 11px/11px $regular;
  -webkit-font-smoothing:antialiased;
  color:#fff;
  background: #fff;
}
.popup-inner {width:1022px; height:$height; margin:0px auto;}

th.col.col-picture {font-size: 0;border-left: 0;box-shadow: none}
td.col.col-picture {padding:0;}
td.col.col-picture img {height: 36px;display: block;}

.admin_question-bottom {
  margin-top:10px; position: relative; 
  a {position: absolute; font-size:20px; text-decoration: none;}
  a.goprevious { left:10px;}
  a.gonext { right:10px;}
}

#title_bar h2 {font-size:18px;}

@import "_/test";