@import "_/base";

body {
  font: 11px/11px $regular;
  -webkit-font-smoothing:antialiased;
  color:#fff;
  background: #fff;
}


body>.loader {position:absolute; top:0; z-index:100; background-color:rgba(255,255,255,0.4);  width:100%; height: 100%;}

.logo-big {@include g-sprite('logo-big');}
.logo-black {@include g-sprite('logo-black'); margin:0px auto;}

.screens {position: relative; width:100%; width:100wv; height:$height; }
.screen {
  display: none;
  width:100%; height:100%; position: absolute; top:0;
  // background-position: 50% 0; background-repeat: no-repeat;
  // background-image: image-url('bg2.jpg');
}
.screen-inner {width:1022px; height:100%; margin:0px auto; position: relative;}
.popup {
  display: none;
  width:100%; height:100%; position: absolute; top:0;
}

a.nav {text-decoration: none;}

a.gray {color: $gray;}
a.gray:hover {color:#fff;}
p a {text-decoration: none; color:$gray;}

.menu {
  position: absolute; bottom:60px; left:0;
  @include single-transition(transform, 0.6s, ease);
  &.unavaliable {
    @include transform(translateY(80px));
  }
}
.menu-item {
  display:inline-block; margin-right: 36px; color:#000; text-decoration: none;
  font:18px/24px $regular;
  &:hover {color:#fff;}
  &.active {color:#fff;}
}

.checkyourself {
  text-align: center; background: #fff; color:#000; 
  font:18px/36px $regular;
  margin:0px auto; display: inline-block;
  padding:0 27px;
  position: absolute;
  bottom: 54px;
  left: 50%;
  margin-left: -82px;
  text-decoration: none;
  &:hover {background:rgba(255,255,255,0.7);}
}

.share-board {
  position: absolute; bottom:58px;     right: 50%; margin-right: -490px;
  .like-container {overflow:hidden; width:78px; height:21px;}
  .like-button  {
    display: inline-block; 
    height:26px; 
    line-height: 26px; 
    margin:0 3px; 
    vertical-align: top;
  }
  .like-fb {    padding-right: 15px;}
  .fb-like {    top: -5px}
  .like-tw a {font-size:0;}
}

.bottom-position {

}

.auth-position {
  h3 {font:36px/36px $bold;}
  h5 {font:26px/32px $bold;}
}
.auth-button {margin: 20px 25px; cursor: pointer; display: inline-block;}
.auth-button-fb {@include g-sprite('auth-fb');}
.auth-button-vk {@include g-sprite('auth-vk');} 
.auth-button-fb:hover {@include g-sprite('auth-fb-hover');}
.auth-button-vk:hover {@include g-sprite('auth-vk-hover');}

.screen_main {

  // background-image: image-url('bg1.jpg');
  .content_position {
    text-align:center; padding-top: 75px; 
  } 
  h3 {color:$yellow; font:36px/42px $bold;}
  h4 {font:26px/36px $regular;}
  .logo-big {margin:0px auto;}
}

.screen_test {
  .loading {
    width: 100%;
    height: 100px;
    position: relative;
  }
  .instruction {
    text-align: center; margin-top: 90px; margin-bottom: 35px;
    .column {display: inline-block; width:250px;}
    .label {font:18px/57px $bold;}
    .icon {margin:0px auto;}
    .icon_1 {@include g-sprite('test-icon_1');}
    .icon_2 {@include g-sprite('test-icon_2');}
    .icon_3 {@include g-sprite('test-icon_3');}
  }

  .start-button {
    display: inline-block;
    padding: 0 30px;
    border: 1px solid #fff;
    font: 20px/40px $regular;
    margin: 40px auto;
    cursor: pointer;
    &:hover {
      background: rgba(128, 128, 128, 0.27);
    }
  }
  .timer {
    width:104px; height:104px; margin: 40px auto;
    font: 52px/111px $bold; text-align: center;
    background: image-url('timer.png');
    // montage *.png -tile 1 -geometry 104 -background "rgba(255,255,255,0)" timer.png
    @include prefixIt(animation, play_timer 0.7s steps(8) infinite);
  }
}

.auth-loader {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  position: relative;
}

.popup_result {
  background:inline-image('base64/result-bg.png') 50% 0 repeat-y;
  .result_inner {
    width:1020px; height:100%; position: relative;
    margin:0px auto;
  }
  .result_container {
    position: absolute; top:0; left:0; width:443px; text-align: center;
    .pic {width:64px; height:64px; border-radius:50%; overflow:hidden; margin:0px auto;}
    .pic img {width:64px;}
    .yourresult {color:$yellow; font:26px/26px $bold; margin-top:40px;}
    .score { 
      font:120px/160px $regular; color:$yellow;
      background:inline-image('base64/result-frames.png') 50% 50% no-repeat;
    }
    .player-position {
      width:100%; border-top:1px solid #fff;
      padding-top:20px;
      .loader {display: none; width:100%; height:60px; position: relative;}
      &.loading {
        .player-score, .player-place {display: none;}
        .loader {display: block;} 
      }
    }
    .player-score, .player-place {
      float:left; width:50%; 
      font:26px/45px $regular; text-align: center;
      span {font:36px/36px $regular;}
    }
  }
  .result_sidebar {
    position: absolute; top:0; right:0; width:443px; text-align: center;
  }
  .logo-white {@include g-sprite('logo-white'); margin: 0px auto;}
  .cross {position: absolute; right:16px; top:33px;@include g-sprite('cross');}
  .tryanotherone {
    color:$yellow; display: block;
    padding-top:75px;
    display: inline-block; font:18px/18px $bold;
    margin: 75px 0 30px;
  }
  .rotate-near-tryanotherone { 
    margin:0px auto; width:77px; height:77px; display: block;
    background:inline-image('base64/tryanotherone.png') 50% 50% no-repeat;
    position: relative;    top: -130px;
    pointer-events: none;
  }
  .tryanotherone:hover+.rotate-near-tryanotherone {@include animation(rotate,0.8s,linear, infinite);}
  .gorating, .goabout {
    font:18px /18px $regular; color:$gray; margin-top: 40px; display: block;
    &:hover {color:#fff;}
  }
}

.screen_about {
  text-align: center;
  .about-title {font:36px/36px $bold; margin-bottom: 60px;}
  p {text-align: left; width: 530px; margin:0px auto; font:18px/26px $regular; margin-bottom: 18px;}
  .gray {color:$gray;}
}

.screen_prizes {
  text-align: center;
  .prizes-columns {padding-top: 100px;}
  .prize-column {width: 35%; float:left; padding:0 3%;}
  .prize-column+.prize-column {width:27%; padding:0 2%;}
  .prize-column+.prize-column+.prize-column {width:20%; padding: 0 4%;}
  .prize-pic {margin:0px auto; font:36px/77px $extrabold;}
  .prizes-pic_1 {@include g-sprite('pize_1');}
  .prizes-pic_2 {@include g-sprite('pize_2');}
  .prizes-pic_3 {@include g-sprite('pize_3');}
  .prize-pic_hint {color:$gray; margin-top: 18px; font:18px/24px $bold;}
  .prize-description {margin-top: 18px; font:18px/24px $bold;}
}

.screen_rules {
  .rules-icons {
    width: 430px;
    float:left; margin-top: 50px;
  }
  .rules-item {width:190px; float:left; text-align: center;     margin-bottom: 30px;}
  .rules-item-icon {width: 190px; height:100px;     background-position: 50% 0;}
  .rules-item-text {font:18px/18px $bold;}
  .rules-item-icon_1 {background-image:inline-image('base64/rules-icon_1.png');}
  .rules-item-icon_2 {background-image:inline-image('base64/rules-icon_2.png');}
  .rules-item-icon_3 {background-image:inline-image('base64/rules-icon_3.png');}
  .rules-item-icon_4 {background-image:inline-image('base64/rules-icon_4.png');}
  
  .rules-text {
    float:left; width:572px; margin-top: 75px;
    p {font:18px/26px $regular; margin-bottom: 20px;}
  }
  
}

.screen_rating {
  .rating-container {padding-top: 65px;}
  .rating-item {
    list-style-type: decimal;
    color:$yellow;
    font:26px/30px $regular;
    vertical-align: bottom;
    .score {color:#fff; font:26px/30px $regular;     padding-right: 10px;}
    .name {color:#fff; font:18px/30px $regular;}
  }
  .sidebar {

  }
  .sidebar-bg {
    position: fixed; width:38%; background: $blue; right:0; top:0;
    height:100%; z-index:0;
  }
  .sidebar {
    position: absolute; width: 340px; right:0; z-index:10;
    text-align: center;     top: 140px;
  }

  .pic {width:64px; height:64px; border-radius:50%; overflow:hidden; margin:0px auto;}
  .pic img {width:64px;}
  .player-position {
    padding-top:40px;
    .loader {display: none; width:100%; height:60px; position: relative;}
    &.loading {
      .player-score, .player-place {display: none;}
      .loader {display: block;} 
    }
  }
  .player-score, .player-place {
    float:left; width:50%; 
    font:26px/45px $regular; text-align: center;
    color:#6a92b1; 
    span {font:36px/36px $regular;color:$yellow;}
  }
  .player-name {font:26px/32px $bold; color:#fff;     margin-top: 20px;}
  .loader {width:100%; height:340px; position: relative;}
}

.fullscreen-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  video {
    width: 100vw;
    margin: 0px auto;
    display: block;
  }
}


@import "_/test";